* {
  box-sizing: border-box;
}


body {
  font-family: 'Oxanium', bold;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 68px;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  display: flexbox;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li::after {
  content: "|";
  margin-left: 5px;
}

nav a:hover {
  color: black;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

.icon {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
}