/* Initial Styling for Mobile @ 320 X 780; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  background-color: #220448;
}

footer {
  background-color: #220448;
  color: gold;
}

.section-divier {
  width: 65%;
  margin: auto;
  border-bottom: 2px solid silver;
  background-color: #220448;
}

body {
  font-family: 'Oxanium', bold;
  font-size: 20px;
  color: silver;
  text-align: center;
  line-height: 1.5;
}

header {
  padding:0;
  text-align: left;
}

h1 {
  font-size: 38px;
  color: silver;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 32px;

}

h3 {
  font-size: 16.50px;
}

.aboutText {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 0.7em;
  text-align: left;
  max-width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#aboutHeader {
  text-align: left;
  padding-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#projectHeader {
  text-align: left;
  padding-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

#mainSection {
  height: 19.5em;
  background-color: #3B235A;
}

.mainText {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

#aboutSection {
  height: 31em;
  background-color: #3B235A;}

#projectSection {
  height: 31em;
  background-color: #3B235A;
}

.projectText {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 16.50px;
  text-align: left;
  margin-bottom: 10px;
}

.projectLinks {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 16.50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#quizLogo {
  border: 1px solid gold;
  width: 180px;
  height: 180px;
  display: inline-block;
  background-color: black;
}

#htmlIcon {
  display: inline-block;
  width: 50px;
  height: 18px;
}

a {
  color: gold;
}

a:hover {
  color: blue;
}

#contactSection {
  height: 22.9em;
  background-color: #3B235A;
}

.contactText {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
}

#contactHeader {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

#imageSelf {
  border: 2px solid gold;
  width: 215px;
  height: 145px;
  display: inline-block;
  background-color: black;
  margin-top: 5px;
}

.navbar {
  font-size: 18px;
  background-color: #220448;
  padding-bottom: 10px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.main-nav {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.nav-links {
  text-decoration: none;
  color: gold;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.navbar-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer; 
  color: gold;
  font-size: 24px;
}

.active {
  display: block;
}

#icon-luigi {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 1px solid black;
}

/* 375x780 */
/*
@media screen and (min-width:375px){
header {
  padding: 5% 0;
}
#mainSection {
  height: 35.7em;
}

.mainText {
  padding-left: 5px;
  padding-right: 5px;
}

#aboutHeader {
  padding-left: 20px;
}

.aboutText{
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

#projectHeader {
  padding-left: 11px;
}

.projectText {
  padding-left: 25px;
  padding-right: 125px;
}

#imageSelf {
  width: 300px;
  height: 190px;
}
}
*/

/* 425px x 780x */
/*
@media screen and (min-width:425px){

#icon-luigi {
  top: 5px;
}


header {
  padding: 5% 0;
}

h1 {
  padding-left: 15px;
}

h2 {
  font-size: 19.2px;
}

#mainSection {
  height: 35.5em;
}

.mainText {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 26px;
}

#aboutSection {
  height: 34em;
  padding-top: 12px;
}

#aboutHeader{
  font-size: 35px;
}

.aboutText {
  font-size: 19px;
}

#projectHeader {
  font-size: 35px;
  padding-left: 25px;
}

#projectSection {
  height: 34em;
}

.projectText {
  font-size: 18px;
  padding-right: 120px;
}

#contactSection {
  height: 34em;
}

#contactHeader {
  font-size: 32px;
}

.contactText {
  font-size: 22px;
}

#imageSelf {
  width: 370px;
  height: 220px;
}
}
*/
/* 768 x 780 */
@media screen and (min-width:768px){
  
  #icon-luigi {
    margin-top: 0;
    height: 80px;
    width: 80px;
  }
  .navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    align-items:center;
    position: fixed;
    width: 100%;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
}

  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }

  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }

  header {
    padding-bottom: 70px;
  }

  h1 {
    font-size: 54px;
    padding-left: 30px;
  }
  
  h2 {
    font-size: 22px;
  }
  
  #mainSection {
    height: 32.5em;
    padding-top: 7%;
  }

  .mainText {
    font-size: 36px;
    padding-left: 30px;
  }

  #aboutHeader {
    text-align: left;
    padding-left: 30px;
    font-size: 45px;
  }

  #aboutSection {
    height: 34.5em;
    padding-top: 2%;
  }

  .aboutText {
    text-align: left;
    font-size: 1em;
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 800px;
  }

  #projectHeader {
    padding-left: 30px;
    font-size: 45px;
  }

  #projectSection {
    height: 32.8em;
    padding: 3% 0;
  }

  .projectText {
    font-size: 25px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
  }

  #contactHeader {
    font-size: 45px;
    padding-left: 30px;
  }

  #contactSection {
    height: 22em;
    background-color: #3B235A;
  }

  .table {
    display: table;
    margin: 0 auto;
  }
  
  .contact-ul {
    display: inline;
    padding-left: 30px;
    text-align: center;
    list-style: none;
  }

  #contactSection li {
    float: left;
  }

  #imageSelf {
    margin-top: 10px;
    width: 375px;
    height: 215px;
  }

  .box {
    width: 300px;
    height: 300px;
  }
}
/* 1024 x 768 */
@media screen and (min-width:1024px){
  header {
    padding: 0;
  }

  #icon-luigi {
    margin-top: 0;
    height: 85px;
    width: 85px;
  }
  .navbar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    align-items:center;
    position: fixed;
    width: 100%;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
}

  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }

  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }

footer {
    font-size:32px;
  }

  nav li {
    font-size: 38px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 25px;
  }

  #mainSection {
    height: 36.5em;
    padding-top: 12%;
  }
  
  #aboutSection {
    height: 30em;
  }

  .aboutText {
    font-size: 20px;
    max-width: 1200px;
  }
  
  #projectSection {
    height: 31em;
  }

  .projectText {
    font-size: 19px;
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1000px;
  }

  #quizLogo {
    width: 270px;
    height: 240px;
  }

  p {
    font-size: 23px;
  }
  
  #contactSection {
    height: 28em;
    padding: 2% 0;
  }

  #imageSelf {
    margin-top: 25px;
    width: 420px;
    height: 275px;
  }

}
/*
@media screen and (min-width:1280px){

  #mainSection {
    height: 33.5em;
  }

  #aboutSection {
    height: 29.5em;
  }


  #projectSection {
    height: 29.5em;
  }

  #contactSection {
    height: 29.5em;
  }
}

@media screen and (min-width:1440px){
  
  #mainSection {
    height: 39.8em;
    padding-left: 80px;
  }

  #aboutSection {
    height: 36em;
  }

  .aboutText {
    font-size: 30px;
    padding-left: 80px;
    padding-right: 80px;
  }

  #projectSection {
    height: 36em;
  }

  .projectText {
    font-size: 27px;
    padding-left: 80px;
    padding-right: 80px;
  }

  #htmlIcon {
    width: 70px;
    height: 25px;
  }

  #contactSection {
    height: 36em;
  }


}
@media screen and (min-width:1600px){
  #mainSection {
    height: 39.5em;
  }
}
*/